{% extends "base.html" %} {% block content %} {% load static %}
<div class="row">
  <div class="col s6">
    <h1>About Us</h1>
    <p>
      Welcome to our family's cherished chicken roasted business, where the rich
      tradition of culinary excellence has been passed down through generations.
      At the heart of our venture lies a deep-rooted passion for crafting the
      perfect roasted chicken. With each succulent bite, we invite you to taste
      not only the flavors that have delighted palates for years but also the
      love and dedication we pour into our craft. Our story is one of commitment
      to quality, from the selection of the finest ingredients to the meticulous
      preparation that ensures a crispy, golden perfection on the outside and
      tender juiciness within. As a family-owned and operated enterprise, we
      take immense pride in sharing this cherished tradition with you, and we
      look forward to serving you a mouthwatering experience that captures the
      essence of our family's culinary heritage. Join us at the table, and let
      our roasted chicken become a part of your own family gatherings and
      special moments.
    </p>
  </div>
</div>
{% endblock %}
