{% extends "base.html" %} {% block content %} {% load static %}
<br>
<div class="container grey lighten-5">
    <div class="row z-depth-3 no-margin grey lighten-2">
        <div class="col m6 s12 about-text padding grey lighten-2">
            <span class="title">
                <h3>About Us</h3>
            </span>
            <p>Welcome to our family's cherished chicken roasted business, where the rich
                tradition of culinary excellence has been passed down through generations.
                At the heart of our venture lies a deep-rooted passion for crafting the
                perfect roasted chicken.
                <br> 
                <br>
                With each succulent bite, we invite you to taste
                not only the flavors that have delighted palates for years but also the
                love and dedication we pour into our craft. Our story is one of commitment
                to quality, from the selection of the finest ingredients to the meticulous
                preparation that ensures a crispy, golden perfection on the outside and
                tender juiciness within. 
                <br> 
                <br>
                As a family-owned and operated enterprise, we
                take immense pride in sharing this cherished tradition with you, and we
                look forward to serving you a mouthwatering experience that captures the
                essence of our family's culinary heritage. 
                <br> 
                <br>
                Join us at the table, and let
                our roasted chicken become a part of your own family gatherings and
                special moments.
            </p>
            <a class="waves-effect waves-light btn" href="#">Book Now</a>
        </div>
        <img class="col m6 no-padding s12" src="{% static 'images/about.webp' %}" height="600px">
    </div>
</div>
<br>
{% endblock %}
