{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Galeto's</title>
  </head>
  <body>
    {% load static %}
    <header>
      <!-- Navbar-->
      <nav>
        <div class="nav-wrapper grey darken-3">
          <div>
            <a href="{% url 'home' %}" class="brand-logo" id="logo"
              >Galeto's Dublin</a
            >
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"
              ><i class="fas fa-bars"></i
            ></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="{% url 'contact' %}">Contact Us</a></li>
              {%if user.is_authenticated %}
              <li>
                <a
                  class="waves-effect waves-light btn"
                  href="{% url 'manage' %}"
                  >Menage Bookings</a
                >
              </li>
              <li>
                <a
                  href="{% url 'account_logout' %}"
                  class="waves-effect waves-light btn"
                  >Log Out</a
                >
              </li>
              {% else %}
              <li>
                <a
                  href="#modal1"
                  class="waves-effect waves-light btn modal-trigger"
                  >Booking</a
                >
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      <!-- Mobile sidenav -->
      <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
        {%if user.is_authenticated %}
        <li>
          <a href="{% url 'manage'  %}" class="waves-effect waves-light btn"
            >Menage Bookings</a
          >
        </li>
        <li>
          <a
            href="{% url 'account_logout' %}"
            class="waves-effect waves-light btn"
            >Log Out</a
          >
        </li>
        {% else %}
        <li>
          <a href="{% url 'account_login' %}" class="modal-trigger waves-effect waves-light"
            >Booking</a
          >
        </li>
        {% endif %}
      </ul>
    </header>
    <main>
      <!-- Sign in modal -->
      <!-- <div id="modal1" class="modal grey lighten-2">
        <div class="modal-content grey lighten-2">
          <h2 class="center">Sign in</h2>
        </div>
        <div class="input-field col s3">
          <i class="fa-solid fa-user prefix"></i>
          <input id="email" type="email" class="validate" />
          <label for="email">User Name</label>
        </div>
        <div class="input-field col s3">
          <i class="fa-solid fa-lock prefix"></i>
          <input id="password" type="password" class="validate" />
          <label for="password">Password</label>
        </div>
        <div class="center">
        <button class="primaryAction" type="submit" class="btn-large"></button>
          <br />
          <a href="#">Forgot your password?</a>
          <hr />
          <p>
            Not registered yet?<a href="{% url 'account_signup' %}"> Sign Up</a>
          </p>
        </div>
      </div> -->

      {% block content %} {% endblock%}
    </main>
    <!-- Footer -->
    <footer class="page-footer grey darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Galeto's Dublin</h5>
            <p class="grey-text text-lighten-4">
              The best roasted chicken you ever had.
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="{% url 'home' %}"
                  >Home</a
                >
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="{% url 'about' %}"
                  >About Us</a
                >
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="{% url 'contact' %}"
                  >Contact Us</a
                >
              </li>
              <li>
                <a class="grey-text text-lighten-3 modal-trigger" href="#modal1"
                  >Bookings</a
                >
              </li>
              <p>Social Media:</p>
              <a class="grey-text text-lighten-3" href="#!"
                ><i class="fa-brands fa-instagram" style="color: #ffffff"></i
              ></a>
              <a class="grey-text text-lighten-3" href="#!"
                ><i
                  class="fa-brands fa-square-facebook"
                  style="color: #ffffff"
                ></i
              ></a>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">© 2023 Copyright</div>
      </div>
    </footer>
    <!-- link to scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
